* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rostin";
  src: url('../style/RF_Rostin/RF\ Rostin\ Regular.otf') format("opentype");
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* 

.box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.calendar {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.week {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.product-card {
  width: 230px;
  height: 230px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
img {
  max-width: 50%;
  height: auto;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
}
.btn-like-sale {
  display: flex;
  justify-content: space-around;
}
.price {
  display: flex;
  justify-content: space-around;
}
.product-img {
  display: flex;
  justify-content: center;
}
.product-full-price {
  color: red;
  font-size: 18px;
}
.product-sale-price {
  color: green;
  font-size: 20px;
}
.navbar-logout {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.navbar {
  background-color: rgb(171, 91, 245);

  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between
  ;align-items: center;
  width: 90%;
}
.navbar-login {
  display: flex;
  flex-direction: row;
  
}
.nav-btn {
  display: flex;
gap: 20px;
}
.navbar-brand{
  width: 100px;
} */
.like-btn {
  background-image: url('../img/heart-regular.svg');
  width: 20px;
  height: 20px;
}
.sale-btn {
  background-image: url('../img/cart-arrow-down-solid.svg');
  width: 20px;
  height: 20px;
  }

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(85, 79, 139);
  font-size: 31px;
}
.card {
  height: 370px;
  width: 250px;
  display: flex;
  flex-direction: column;
  
}

.img-box{
height: 150px;
width: 220px;
align-self:center;
justify-self:center;

}
#products-container {
  width: 50vw;
  height: auto;

  display: flex;
  flex-wrap: wrap;
}
.box {
  display: flex;
  width: 100%;
}

.price{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
.right {
  border: 1px solid black;
  padding: 15px;
}
.calendar {
  border: 1px solid black;
  width: 100%;
  height: 250px;
}
.week {
  border: 1px solid black;
  width: 100%;
  height: 150px;
}


.nav-link{
  color: rgb(211, 83, 60);
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0px;
  margin-left: 30px;
}

#products-container {
  display: flex;
  flex-direction: row;
  /* background-color: black; */
}

.favorite-product {
  display: flex;
  flex-direction: row;
}

.btn{
  font-family: 'Rostin', sans-serif;
  display: inline-block;
  background-color: grey;
  color: rgb(10, 5, 5);
  font-size: 25px;
  text-decoration: none;
  user-select: none;
  padding: 0.2em 1em;
  outline: none;
  border: 2px solid;
  border-radius: 10px;
  justify-content: center;
  margin-top: 10px;
  /* margin-left: 75px; */
  font-family: "Rostin", Courier, monospace;
}

.btn-sort{
  font-family: 'Rostin', sans-serif;
  font-size: 20px;
  padding: 0.2em 1em;
}

.card-title {
  font-family: 'Rostin', sans-serif;
  font-size: 25px;
  justify-content: center;
}

.card-body {
  flex: none;
  display: flex;
  justify-content: center;
  gap: 55px;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.favorite-card,
.card {
  margin-left: 25px;
  margin-bottom: 45px;
  
}

.favorite-card {
  height: 450px;
}

.card_max.card {
  height: 500px;
  width: 500px;
}
.card-img-top.img-box.img-max {
  max-width: 330px;
  max-height: 250px;
}

.card-img-top{
  margin-bottom: 20px;
}

.card-body.card_max {
  max-height: 100px;
}

.navbar-logout {
  display: flex;
  flex-direction: row;
}

.navbar {
  margin-right: 150px;
}

.img-logo{
  margin-left: 0px;
}

.nav-text {
  font-family: 'Rostin', sans-serif;
  color: rgb(243, 174, 46);
  font-size: 30px;
}

.nav-item {
  margin-right: 30px;
}

.register-form {
  width: 100%;
}

.sort {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 25px;
  font-size: 25px;
  gap: 10px;
  align-items: center;
}

.sort-up,
.sort-dn
 {
  font-size: 20px;
}

.in-stock {
  font-family: 'Rostin', sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  background-color: rgb(187, 178, 178);
}

.sale-div{
  margin-top: 20px;
  scale: 120%;
}

.btn-more {
  font-size: 15px;
  margin-bottom: 25px;
}

.text{
  font-family: 'Rostin', sans-serif;
  margin-top: 10px;
}




